---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

# Make sure function parameters are either in the same line as the declaration
# or each on their own line.
AlignAfterOpenBracket: BlockIndent
BinPackArguments: 'false'
BinPackParameters: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
PenaltyReturnTypeOnItsOwnLine: 100
PenaltyBreakBeforeFirstCallParameter: 10

# Insert braces for 'if'
InsertBraces: 'true'

# Indent nested preprocessor directives
IndentPPDirectives: AfterHash

# Add empty lines between definitions
SeparateDefinitionBlocks: Always

# Always expand declarations
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: 'None'

# The default is 2, for some reason
SpacesBeforeTrailingComments: 1

# This breaks compilation
SortIncludes: Never
